<!DOCTYPE html>
<html ng-app>
<head>
	<title>Welcome to Anguala JS</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
<h1>Welcome to Anguala JS</h1>
First Name:<input type="text" ng-model="fName" placeholder="Enter a First Name"/>
Last Name:<input type="text" ng-model="lName" placeholder="Enter a Last Name"/>
Address:<input type="text" ng-model="adress">
qulification:<input type="text" ng-model="enter">
<h1>Welcome:{{fName}} {{lName}} {{adress}} {{enter}}</h1>
</body>
</html>